* {
	margin: 0;
	padding: 0;
}

h1 {
	color: blueviolet;
	font-size: 60px;
	font-weight: 900;
	font-style: oblique;
	text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
}

p {
	font-size: 18px;
  text-align: justify;
  text-indent: 90px;
}

.bg {
	height: 500px;
	width: 100%;
	background-color: #555;
	background-image: url("https://images.unsplash.com/photo-1707343843344-011332037abb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
