* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

body {
	font-family: "Roboto Mono", monospace;
	font-size: 1.8rem;
}

.boxes {
	/* height: calc(100vh - 14rem); */
	height: calc(100vh);
	position: relative;

	display: flex;
	/* flex-direction: row; */
	/* flex-wrap: wrap; */
	flex-flow: row wrap;
	justify-content: space-evenly;
	/* align-items: center; */
	align-content: center;
	gap: 2rem 5rem;
}

.box {
	min-height: 10rem;
	min-width: 20rem;
	padding: 1.5rem;
	border: 1rem solid red;
	border-radius: 0.4rem;
	background-color: blue;
	color: #fff;
	font-size: 4rem;
	order: 10;
	/* flex-basis: 30%; */
	flex: 1;

	display: flex;
	justify-content: center;
	align-content: center;
}

.box:nth-child(1) {
	order: 1;
}
.box:nth-child(2) {
	order: 2;
	flex: 2;
}
.box:nth-child(7) {
	order: 3;
}

.box p, button {
	font-size: 2rem;
}