* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

body {
	font-family: "Roboto Mono", monospace;
	font-size: 1.8rem;
}

.bg {
	height: 40rem;
	width: 100%;
	background-color: #555;
	background-image: url("https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
}

h1 {
	color: blueviolet;
	font-size: 3.2rem; /* 32px */
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
}

p {
	text-indent: 9rem;
	text-align: justify;
}

table,
td,
th {
	border: 0.1rem solid black;
}

table tr:first-child {
	background-color: steelblue;
	color: #fff;
}

table tr:nth-child(2n + 3) {
	background-color: #aaa;
}

table {
	font-size: 2.4rem;
	border-collapse: separate;
}

ul,
ol {
	padding-left: 5rem;
}

ul {
	list-style: square;
}

ol {
	list-style: upper-roman;
}

.box{
	height: 10rem;
	width: 20rem;
	padding: 1.5rem;
	margin: 1.5rem;
	background-color: blue;
	border: 0.4rem solid red;
	color: #fff;
	display: inline-block;
	border-radius: 0.4rem;
}

img {
	height: 10rem;
	width: 20rem;
	object-fit: cover;
}
